<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <h:outputStylesheet library="css" name="stylesExos.css"/> 
        <title>Facelet Title</title>
    </h:head>
    <h:body>
       <h:form id="formulaireExo5" styleClass="formulaire">
            
           <p:panel toggleable="true" closable="true" styleClass="camembert">
               
                    <p:pieChart value="#{contExo5.camembert}" 
                                legendPosition="c" 
                                sliceMargin="7" 
                                shadow="true"
                                showDataLabels="true"
                     />
           </p:panel>
                
               
            
        </h:form>
    </h:body>
</html>

